<div class='container'>
  <div class='row d-flex justify-content-around'>
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0">

      <h2>会員情報編集</h2>
      <%= form_with model: @customer, url: customers_path do |f| %>

      <div class="field form-item">
        <%= f.label :名前 %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field form-item">
        <%= f.label :自己紹介文 %><br />
        <%= f.text_field :introduction %>
      </div>

      <div class="field form-item">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email %>
      </div>

      <div class="actions button-panel">
        <%= f.submit "編集内容を保存", class: 'button' %>
      </div>

      <div class="actions button-panel">
        <%= link_to "退会する", customers_unsubscribe_path, class:"btn btn-danger btn-block" %>
      </div>

      <% end %>
    </div>
  </div>
</div>

