<div class="container">
  <div class="row mt-5 mb-4">
    <div class="col-2">
     <h3 class="table-active">マイページ</h3>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-lg-2">
     <h4>登録情報</h4>
    </div>
    <% if @customer.name != "guestuser" %>
    <div class="my-auto">
     <%= link_to "編集する", edit_customers_path, class: "btn btn-info" %>
    </div>
    <% end %>
  </div>
  </br>

  <div class="row">
     <div class="col-lg-9">
      <table class="table table-bordered">
        <tr>
          <th class="col-lg-2 active">名前</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th class="col-lg-2 active">自己紹介</th>
          <td><%= @customer.introduction %></td>
        </tr>
        <tr>
          <th class="col-lg-2 active">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
     </div>
  </div>

  <div class="row">
	 		<div class="col">
				<h2 class="text p-5">投稿記事</h2>
			</div>
		</div>

  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-3 col-sm-4 p-3">
        <div class="text-center shadow-lg" style="width: 13rem;">
        <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image, size:'160x165', class: 'card-img-top' %>
        <h5 class="card-text"><%= post.title %></h5>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @posts %>
</div>