<% if review.errors.any? %>
  <div class="notification is-danger">
    <h2><%= review.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="rating-box mt-3">
  <%= form_with model: [post, review], url: post_reviews_path(post), local: true do |f| %>
    <div class="field">
      <div  id="star">
        <%= f.label :score,'評価 ', class:'col-md-3 col-form-label' %>
        <%= f.hidden_field :score, id: :review_star %>
      </div>

      <div>
        <%= f.label :コメント %>
        <%= f.text_area :content %>
      </div>

      <div>
        <%= f.submit "評価する", class: 'btn btn-success' %>
        <%= link_to "他のレビューを見る", post_reviews_path(post), class: "button light ml-3 mt-3" %>
      </div>

      <!-- 評価javascript -->
        <script>
        $('#star').empty();
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',

          scoreName: 'review[score]',
          half: false,
        });
        </script>

      <% end %>
　　</div>