<div class='container'>
  <div class='row d-flex justify-content-around'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">

      <h2>ログイン</h2>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="field form-item">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email,  autofocus: true, placeholder:"sample@example.com", autocomplete: "email" %>
        </div>

        <div class="field form-item">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions button-panel">
          <%= f.submit "ログイン", class: 'button' %>
        </div>
      <% end %>

      <p class="pt-3 title_border">会員登録がお済みでない方</p>
      <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>

        <div class="row">
          <%= link_to 'ゲストログイン（閲覧用）', customer_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>

    </div>
  </div>
</div>

